* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task-container {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.sign-form {
  margin-top: 200px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}